name: Create Achievement Image
on:
  push:
    branches: [ main ]
    
jobs:
  generation:
    name: Compact display
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.achievements.compact.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_achievements: yes
          plugin_achievements_only: >-
            polyglot, stargazer, deployer, member, maintainer, developer, scripter
          plugin_achievements_display: compact
          plugin_achievements_threshold: X
